# -- Composer 
composer.phar

# -- PHPUnit 
app/phpunit.xml  

# -- Editores 
# vim
.*.sw[a-z]
*.un~
Session.vim
.netrwhist

# eclipse
*.class
logs/
.idea
*.iml
*.pydevproject
.project
.metadata
bin/
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
.externalToolBuilders/
*.launch
.buildpath
*/target/*
*/target/**
target-ide/

# phpstorm
.idea/

# textmate
*.tmproj
*.tmproject
tmtags

# sublimetext
/*.sublime-project
*.sublime-workspace

# Package
*.jar
*.war
*.ear
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
*.jdproj
JArchitectOut/

# log files
datanucleus.log
isis.log
hs_err_pid*.log

#
component/objectstore/sql/sql-tests-common/hsql-db/
component/objectstore/sql/sql-tests-common/xml/
component/objectstore/xml/tmp/objects/
component/objectstore/xml/xml/objects/
component/objectstore/xml/tmp/tests/
component/security/sql/hsql-db/


# -- Sistemas Operativos ------------------------------

# Linux
.*
*~

